<a href="https://colab.research.google.com/github/JJJJeon/ESAA/blob/main/6%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## datetime 오브젝트
datetime 라이브러리: 날짜와 시간을 처리하는 등의 다양한 기능을 제공하는 파이썬 라이브러리 (date, time, datetime 오브젝트 포함)

In [1]:
from datetime import datetime

In [2]:
now1=datetime.now()
print(now1)

2022-10-10 05:49:57.250426

In [3]:
now2=datetime.today() #현재 시간 출력
print(now2)

2022-10-10 05:49:59.451970

In [4]:
t1=datetime.now() #밀리초 단위까지 구함
t2=datetime(1970,1,1) #시간 직접 입력
t3=datetime(1970,12,12,13,24,34)
print(t1)
print(t2)
print(t3)

2022-10-10 05:50:01.679182
1970-01-01 00:00:00
1970-12-12 13:24:34

In [5]:
diff1=t1-t2 #시간 계산 가능
print(diff1)
print(type(diff1))

19275 days, 5:50:01.679182
<class 'datetime.timedelta'>

In [6]:
diff2=t2-t1
print(diff2)
print(type(diff2))

-19276 days, 18:09:58.320818
<class 'datetime.timedelta'>

In [7]:
pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)

In [8]:
import pandas as pd
pd.core.common.is_list_like=pd.api.types.is_list_like
import pandas_datareader as pdr

tesla=pdr.get_data_quandl('TSLA',api_key='xJae7Qxr7K7BAsbYizrx')
tesla.to_csv('/content/sample_data/tesla_stock_quandl.csv')

In [9]:
tesla.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,279.18,13696168.0
2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,304.18,8324639.0
2018-03-23,311.25,311.61,300.45,301.54,6600538.0,0.0,1.0,311.25,311.61,300.45,301.54,6600538.0
2018-03-22,313.89,318.82,308.18,309.10,4914307.0,0.0,1.0,313.89,318.82,308.18,309.10,4914307.0
2018-03-21,310.25,322.44,310.19,316.53,5927881.0,0.0,1.0,310.25,322.44,310.19,316.53,5927881.0

In [10]:
tesla=pd.read_csv('/content/sample_data/tesla_stock_quandl.csv',parse_dates=[0]) #date 열 자료형 datetime 오브젝트로 변환
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        114 non-null    datetime64[ns]
 1   Open        114 non-null    float64
 2   High        114 non-null    float64
 3   Low         114 non-null    float64
 4   Close       114 non-null    float64
 5   Volume      114 non-null    float64
 6   ExDividend  114 non-null    float64
 7   SplitRatio  114 non-null    float64
 8   AdjOpen     114 non-null    float64
 9   AdjHigh     114 non-null    float64
 10  AdjLow      114 non-null    float64
 11  AdjClose    114 non-null    float64
 12  AdjVolume   114 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 11.7 KB
None

In [11]:
print(tesla.loc[(tesla.Date.dt.year==2010) & (tesla.Date.dt.month==6)])

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, ExDividend, SplitRatio, AdjOpen, AdjHigh, AdjLow, AdjClose, AdjVolume]
Index: []

### datetime 오브젝트와 인덱스 - DatetimeIndex

In [12]:
tesla.index=tesla['Date'] #Date열 tesla 데이터프레임의 인덱스로 지정
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-10-24', '2017-10-23', '2017-10-20', '2017-10-19',
               '2017-10-18', '2017-10-17', '2017-10-16', '2017-10-13',
               '2017-10-12', '2017-10-11'],
              dtype='datetime64[ns]', name='Date', length=114, freq=None)

In [13]:
print(tesla['2015'].iloc[:5,:5]) #2015년의 데이터 추출

Empty DataFrame
Columns: [Date, Open, High, Low, Close]
Index: []

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

In [14]:
print(tesla['2010-06'].iloc[:,:5]) #2010년 6월 데이터 추출

Empty DataFrame
Columns: [Date, Open, High, Low, Close]
Index: []

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

### 시간 간격과 인덱스 - TimedeltaIndex
시간 간격을 인덱스로 지정

In [15]:
tesla['ref_date']=tesla['Date']-tesla['Date'].min() #데이터 수집한 이후에 시간이 얼마나 흘렀는지
tesla.head()

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume,ref_date
Date,,,,,,,,,,,,,,
2018-03-27,2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,279.18,13696168.0,167 days
2018-03-26,2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,304.18,8324639.0,166 days
2018-03-23,2018-03-23,311.25,311.61,300.45,301.54,6600538.0,0.0,1.0,311.25,311.61,300.45,301.54,6600538.0,163 days
2018-03-22,2018-03-22,313.89,318.82,308.18,309.10,4914307.0,0.0,1.0,313.89,318.82,308.18,309.10,4914307.0,162 days
2018-03-21,2018-03-21,310.25,322.44,310.19,316.53,5927881.0,0.0,1.0,310.25,322.44,310.19,316.53,5927881.0,161 days

In [16]:
tesla.index=tesla['ref_date'] #ref_date열을 인덱스로 지정
print(tesla.iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
167 days 2018-03-27  304.00  304.27  277.18  279.18
166 days 2018-03-26  307.34  307.59  291.36  304.18
163 days 2018-03-23  311.25  311.61  300.45  301.54
162 days 2018-03-22  313.89  318.82  308.18  309.10
161 days 2018-03-21  310.25  322.44  310.19  316.53

In [17]:
print(tesla['5 days':].iloc[:5,:5]) #데이터 수집한 이후 최초 5일의 데이터 추출

               Date    Open    High     Low   Close
ref_date
5 days   2017-10-16  353.76  354.48  347.16  350.60
2 days   2017-10-13  356.98  358.49  353.68  355.57
1 days   2017-10-12  352.95  359.78  352.64  355.68
0 days   2017-10-11  353.89  357.60  351.15  354.60

### 시간 범위와 인덱스

In [18]:
ebola=pd.read_csv('country_timeseries.csv',parse_dates=[0])
print(ebola.iloc[:5,:5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [19]:
print(ebola.iloc[-5:,:5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

In [20]:
head_range=pd.date_range(start='2014-12-31',end='2015-01-05') #시간 인덱스 생성
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [21]:
ebola_5=ebola.head()
ebola_5.index=ebola_5['Date'] #반드시 Date 열을 인덱스로 지정
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5,:5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0